.students-page {
  display: flex;
  min-height: 100vh;
  background: #f3f4f6;
}

.main-content {
  flex: 1;
  padding: 25px;
}



/* Header */
.student-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.student-header h2 {
  color: #1e3a8a;
}



/* Add Button */
.add-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}



/* Table */
.table-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  overflow-x: auto;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #1e3a8a;
  color: white;
  padding: 15px;
}

td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}



/* Buttons */
.edit-btn {
  background: #f59e0b;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background: #dc2626;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}